{% extends "base.html" %}
{% load res_tags %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <h2>Blog Posts</h2>
    </div>
  </div>
  {% if messages %}
  <div class="row">
  {% for message in messages %}
      <div class="col d-flex justify-content-center mt-4 correct"><h4>{{ message }}</h4></div>
  {% endfor %}
  </div>
{% endif %}
{% if reservations %}
    {% for reservation in reservations %}
    {% compare_dates current_date reservation.date as is_past %}
    {% if is_past %}
                <h1>{{ reservation.date}} {{ reservation.1}} {{ reservation.2}}</h1>
    {% else %}
        <form method="post" action="{% url 'account_booking_edit' %}">
        {% csrf_token %}
                <h1>{{ reservation.date}} {{ reservation.time_slot}} {{ reservation.room_choice}}</h1><button type="submit">Edit/Delete</button>
                <input type="hidden" name="res_id" value="{{reservation.id}}">
        </form>
    {% endif %}
    {% endfor %}
{% else %}
<div class="d-flex mb-4 flex-column align-items-center mb-4">
<h1>No Reservations found. If this is a mistake, <a href="{% url 'contact_us' %}">Contact Us</a></h1>
<h1>To make a reservation, <a href="{% url 'reservation' %}">Book Now</a></h1>
</div>
{% endif %}
    <h3><a href="{% url 'account_overview' %}">Return to My Account</a></h3>
{% endblock %}