{% extends "base.html" %}
{% block scripts %}
  <!-- Pass the active page variable to the base template -->
  {% with active_page='account' %} 
    {{ block.super }}
  {% endwith %}
{% endblock %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>My Account</h2>
    </div>
</div>
{% if messages %}
    <div class="row">
    {% for message in messages %}
        <div class="col d-flex justify-content-center mt-4 correct"><h4>{{ message }}</h4></div>
    {% endfor %}
    </div>
{% endif %}
<form method="post" action="account_update_view" class="container">
    {% csrf_token %}
<div class="mt-5">
    <div class="mb-3">
        <h3><i class="bi bi-person-circle m-2"></i>Username: {{ username }}</h3>
        <input type="hidden" name="username" value="">
    </div>
    <div class="mb-3">
        <h3><i class="bi bi-person-vcard-fill m-2"></i>Customer Name: {{ first_name }} {{ last_name }}</h3>
        <input type="hidden" name="first_name" value="">
        <input type="hidden" name="last_name" value="">
    </div>
    <div class="mb-3">
        <h3><i class="bi bi-envelope-at-fill m-2"></i>Email Address: {{ email }}</h3>
        <input type="hidden" name="email" value="">
        <input type="hidden" name="user_id" value="{{user_id}}">
    </div>
</div>
    <div class="mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">Update Account Information Here</button>
    </div>
</form>
<form action="{% url 'account_bookings'%}" class="container">
    <div class="d-flex mb-4 flex-column align-items-center mb-4">
        <h3 class="mb-3">Click here to view booked events!</h3>
        <button type="submit" class="btn btn-success">See Reservations</button>
        <input type="hidden" name="user_id" value="{{user_id}}">
    </div>
</form>

<div class="row mt-4 d-flex justify-content-center">
    <h5 class="text-center">Don't forget to tell others about your time with us! Review Here!</h5>
    <div class="col d-flex justify-content-center mb-3">
        <a href="www.facebook.com" target="_blank" aria-label="Opens link to Facebook.com in another window"><i class="bi bi-facebook m-3"></i></a>
        <a href="www.yelp.com" target="_blank" aria-label="Opens link to Yelp.com in another window"><i class="bi bi-yelp m-3"></i></a>
        <a href="www.google.com" target="_blank" aria-label="Opens link to Google.com in another window"><i class="bi bi-google m-3"></i></a>
    </div>
</div>
{% endblock %}