{% extends "base.html" %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
    <h2>Account Update</h2>
  </div>
</div>
<form method="POST" action="{% url 'account_update_post' %}">
  {% csrf_token %}
  <h1>Edit Account Information</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="newUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="newUsername" name="new_username" value="{{ username }}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="newFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="newFirstName" name="new_first_name" value="{{ first_name }}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="newLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="newLastName" name="new_last_name" value="{{ last_name }}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="newEmail" class="form-label">Email</label>
        <input type="text" class="form-control" id="newEmail" name="new_email" value="{{ email }}">
      </div>
    </div>
  </div>
  <input type="hidden" name="user_id" value="{{ user_id }}">
  <button type="submit" class="btn btn-primary">Update Now</button>
</form>

<form id="deleteAccountForm" method="post" action="{% url 'delete_account' %}">
  {% csrf_token %}
  <button id="deleteButton" type="button" class="btn btn-danger">Request Account Deletion</button>
  <input type="hidden" name="res_id" value="{{ res_id }}">
</form>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Confirm Account Deletion</h2>
    <p>Are you sure you want to delete your account?</p>
    <button id="confirmButton" class="btn btn-danger">Confirm</button>
    <button id="cancelButton" class="btn btn-secondary">Cancel</button>
  </div>
</div>
  
  <script>
    // Get the form element
    var form = document.getElementById('deleteAccountForm');
  
    // Get the delete button element
    var deleteButton = document.getElementById('deleteButton');
  
    // Get the modal element
    var modal = document.getElementById('myModal');
  
    // Get the close button element
    var closeButton = document.getElementsByClassName('close')[0];
  
    // Get the confirm and cancel buttons
    var confirmButton = document.getElementById('confirmButton');
    var cancelButton = document.getElementById('cancelButton');
  
    // When the delete button is clicked, display the modal
    deleteButton.addEventListener('click', function() {
      modal.style.display = 'block';
    });
  
    // When the close button is clicked or outside the modal, close the modal
    closeButton.addEventListener('click', function() {
      modal.style.display = 'none';
    });
  
    window.addEventListener('click', function(event) {
      if (event.target == modal) {
        modal.style.display = 'none';
      }
    });
  
    // When the confirm button is clicked, submit the form
    confirmButton.addEventListener('click', function() {
      form.submit();
    });
  
    // When the cancel button is clicked, close the modal
    cancelButton.addEventListener('click', function() {
      modal.style.display = 'none';
    });
  </script>

{% endblock %}