{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EnigmaMachine</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css'%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header blk d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/enigma_machine_logo.png' %}" alt="Logo image of Enigma Machine">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          {% block scripts %}
          <li><a {% if active_page == 'home' %} class="active activebg" {% endif %} href="{% url 'home' %}">Home</a></li>
          <li><a {% if active_page == 'faq' %} class="active" {% endif %} href="{% url 'faq' %}">FAQs</a></li>
          <li><a {% if active_page == 'rooms' %} class="active" {% endif %} href="{% url 'rooms' %}">Rooms</a></li>
          <li><a {% if active_page == 'blog' %} class="active" {% endif %} href="{% url 'blog-post-list' %}">Blog</a></li>
          <li><a {% if active_page == 'reservation' %} class="active" {% endif %}  href="{% url 'reservation' %}">Book Now</a></li>
          <li><a {% if active_page == 'contact' %} class="active" {% endif %} href="{% url 'contact_us' %}">Contact</a></li>

          {% if user.is_authenticated %}
          <li><a {% if active_page == 'logout' %} class="active" {% endif %} href="{% url 'account_logout' %}">Logout</a></li>
          <li><a {% if active_page == 'account' %} class="active" {% endif %} href="{% url 'account_overview' %}">Account</a></li>
          {% else %}
          <li><a {% if active_page == 'signup' %} class="active" {% endif %} href="{% url 'account_signup' %}">Register</a></li>
          <li><a {% if active_page == 'login' %} class="active" {% endif %} href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->
          {% endblock %}

    </div>
  </header><!-- End Header -->

  <main id="main">

    {% block content %}
    {% endblock %}

  </main><!-- End #main -->
  
<div id="myModal" class="modal-base">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 id="modalTitle">This</h2>
    <p id="modalContent"></p>
  </div>
</div>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" style="background-image: url('https://res.cloudinary.com/dl02kivmy/image/upload/v1685363497/enigmamachine_usi9yo.jpg'); background-position: center;">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <a href="{% url 'home' %}" class="logo d-flex align-items-center mb-3">
                <img src="{% static 'img/enigma_machine_logo.png' %}" alt="Logo image of Enigma Machine">
              </a>
              <p>
                Hantverkargatan 1<br>
                111 52 Stockholm<br><br>
                <strong>Phone:</strong> +46 12 345 6789<br>
                <strong>Email:</strong> info@enigmamachine.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://twitter.com/" class="d-flex align-items-center justify-content-center" target="_blank" aria-label="Opens link in new tab to company's Twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://facebook.com/" class="d-flex align-items-center justify-content-center" target="_blank" aria-label="Opens link in new tab to company's Facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" class="d-flex align-items-center justify-content-center" target="_blank" aria-label="Opens link in new tab to company's Instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://linkedin.com/" class="d-flex align-items-center justify-content-center" target="_blank" aria-label="Opens link in new tab to company's LinkedIn"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->
          <div class="col-lg-2 col-md-3 footer-links"></div>
          <div class="col-lg-2 col-md-3 footer-links"></div>
          <div class="col-lg-2 col-md-3 footer-links"></div>
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="{% url 'blog-post-list' %}">Blog</a></li>
              <li><a href="#" id="TOS">Terms of service</a></li>
              <li><a href="#" id="PP">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>



  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center" aria-label="Returns to the start of page"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script> 
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>