{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EnigmaMachine</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.ico' %}" rel="icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>UpConstruction<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          {% block scripts %}
          <li><a {% if active_page == 'home' %} class="active" {% endif %} href="{% url 'home' %}">Home</a></li>
          <li><a {% if active_page == 'faq' %} class="active" {% endif %} href="about.html">FAQs</a></li>
          <li><a {% if active_page == 'rooms' %} class="active" {% endif %} href="{% url 'rooms' %}">Rooms</a></li>
          <li><a {% if active_page == 'blog' %} class="active" {% endif %} href="{% url 'blog-post-list' %}">Blog</a></li>
          <li><a {% if active_page == 'reservation' %} class="active" {% endif %}  href="{% url 'reservation' %}">Book Now</a></li>
          <li><a {% if active_page == 'contact' %} class="active" {% endif %} href="{% url 'contact_us' %}">Contact</a></li>

          {% if user.is_authenticated %}
          <li><a {% if active_page == 'logout' %} class="active" {% endif %} href="{% url 'account_logout' %}">Logout</a></li>
          <li><a {% if active_page == 'account' %} class="active" {% endif %} href="{% url 'account_overview' %}">Account</a></li>
          {% else %}
          <li><a {% if active_page == 'signup' %} class="active" {% endif %} href="{% url 'account_signup' %}">Register</a></li>
          <li><a {% if active_page == 'login' %} class="active" {% endif %} href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->
          {% endblock %}

    </div>
  </header><!-- End Header -->

  <main id="main">

    {% block content %}
    {% endblock %}

  </main><!-- End #main -->
  
<div id="myModal" class="modal-base">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 id="modalTitle"></h2>
    <p id="modalContent"></p>
  </div>
</div>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" style="background-image: url('https://res.cloudinary.com/dl02kivmy/image/upload/v1685363497/enigmamachine_usi9yo.jpg'); background-position: center;">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>EnigmaMachine</h3>
              <p>
                Hantverkargatan 1<br>
                111 52 Stockholm<br><br>
                <strong>Phone:</strong> +46 12 345 6789<br>
                <strong>Email:</strong> info@enigmamachine.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->
          <div class="col-lg-2 col-md-3 footer-links"></div>
          <div class="col-lg-2 col-md-3 footer-links"></div>
          <div class="col-lg-2 col-md-3 footer-links"></div>
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="{% url 'blog-post-list' %}">Blog</a></li>
              <li><a href="#" id="TOS">Terms of service</a></li>
              <li><a href="#" id="PP">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>



  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
    // Get the modal element
    var modal = document.getElementById("myModal");

    // Get the links that open the modal
    var linkA = document.getElementById("PP");
    var linkB = document.getElementById("TOS");

    // Get the close button element
    var closeButton = document.getElementsByClassName("close")[0];

    // Get the modal content elements
    var modalTitle = document.getElementById("modalTitle");
    var modalContent = document.getElementById("modalContent");

    // Open the modal with content for TOS
    linkA.onclick = function() {
      modalTitle.textContent = "Privacy Policy";
      modalContent.innerHTML = `
        <h3>Effective Date: 2020-01-01</h3>

        <p>This Privacy Policy describes how EnigmaMachine ("we," "us," or "our") collects, uses, discloses, and safeguards personal information of users ("you" or "users") who visit our website and engage with our services. This policy applies to the information collected by EnigmaMachine both online and offline.</p>

        <h3>Information We Collect:</h3>

        <p>Personal Information: We may collect personal information such as your name, email address, phone number, and any other information you provide voluntarily when you interact with us or use our services.</p>
        <p>Usage Information: We collect non-personal information about your interactions with our website and services, including IP address, browser type, device information, pages visited, and other similar data.</p>

        <h3>Use of Collected Information:</h3>

        <p>We may use the collected information to provide, maintain, and improve our services, personalize user experience, respond to inquiries, send notifications, and fulfill user requests.</p>
        <p>We may also use the information to analyze trends, monitor the effectiveness of our marketing campaigns, and prevent fraudulent or unauthorized activities.</p>

        <h3>Information Sharing:</h3>

        <p>We do not sell, trade, or rent your personal information to third parties without your explicit consent, except as described in this Privacy Policy.</p>
        <p>We may share personal information with trusted service providers who assist us in operating our website, conducting business activities, or servicing users, subject to confidentiality agreements.</p>
        <p>We may disclose personal information if required by law, to protect our rights, or to comply with legal processes.</p>

        <h3>Data Security:</h3>

        <p>We take reasonable precautions to protect the security of your personal information. However, no method of transmission or electronic storage is completely secure, and we cannot guarantee absolute security.</p>
        <p>We implement appropriate technical and organizational measures to safeguard your personal information and regularly review and enhance our security practices.</p>

        <h3>Cookies and Tracking Technologies:</h3>

        <p>We may use cookies, web beacons, and similar tracking technologies to enhance user experience, analyze website usage, and provide personalized content.</p>
        <p>You have the option to disable cookies through your browser settings; however, this may affect your ability to access certain features of our website.</p>

        <h3>Third-Party Websites:</h3>

        <p>Our website may contain links to third-party websites or services that are not owned or controlled by us. This Privacy Policy does not apply to those websites, and we are not responsible for their practices. We encourage you to review the privacy policies of such third parties.</p>

        <h3>Children's Privacy:</h3>

        <p>Our website and services are not intended for individuals under the age of 18. We do not knowingly collect or solicit personal information from children. If we discover that we have collected personal information from a child, we will promptly delete it.</p>

        <h3>Your Privacy Choices and Rights:</h3>

        <p>You have the right to access, correct, or delete your personal information in accordance with applicable laws. You may also have the right to object to or restrict certain processing activities.</p>
        <p>To exercise your rights or for any privacy-related inquiries, please contact us using the information provided below.</p>

        <h3>Changes to this Privacy Policy:</h3>

        <p>We reserve the right to modify or update this Privacy Policy at any time. We will notify you of any material changes by posting the updated policy on our website or through other appropriate communication channels.</p>

        <h3>Contact Us:</h3>

        <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please contact us at [Insert contact information].</p>

        <p>By accessing or using our website and services, you acknowledge that you have read and understood this Privacy Policy and agree to the collection, use, and disclosure of your personal information as described herein.</p>
      `;

      modal.style.display = "block";
    }

    // Open the modal with content for Link B
    linkB.onclick = function() {
      modalTitle.textContent = "Terms of Service";
      modalContent.innerHTML = `
      <p>These Terms of Service ("Terms") govern your use of our escape room services and website. By booking an escape room experience with us or using our website, you agree to abide by these Terms. Please read them carefully.</p>

      <h3>Booking and Participation:</h3>
      <ol>
        <li>Participants must be at least 18 years old or accompanied by a responsible adult.</li>
        <li>Bookings can be made through our website, phone, or in person. All bookings are subject to availability.</li>
        <li>Participants must arrive at the designated time for their booking. Late arrivals may result in reduced game time.</li>
        <li>Participants agree to follow all instructions provided by Enigma Machine staff and adhere to the rules and regulations of the escape room experience.</li>
      </ol>

      <h3>Code of Conduct:</h3>
      <ol>
        <li>Participants must treat Enigma Machine staff and fellow participants with respect and refrain from engaging in any form of harassment, discrimination, or disruptive behavior.</li>
        <li>Participants must not disclose or share any confidential information, puzzles, or solutions related to the escape room experience.</li>
        <li>Participants are responsible for the care and preservation of the escape room facilities and props. Any intentional damage caused may result in liability for repair or replacement costs.</li>
      </ol>

      <h3>Safety:</h3>
      <ol>
        <li>Participants must follow all safety guidelines provided by Enigma Machine staff.</li>
        <li>Participants with known medical conditions or who are pregnant should consult with a medical professional before participating.</li>
        <li>Participants must not use excessive force, climb on furniture or fixtures, or engage in any unsafe behavior during the escape room experience.</li>
      </ol>

      <h3>Intellectual Property:</h3>
      <ol>
        <li>Enigma Machine retains all intellectual property rights related to the escape room experience, including but not limited to puzzles, designs, and logos.</li>
        <li>Participants must not reproduce, distribute, or use any Enigma Machine intellectual property without prior written consent.</li>
      </ol>

      <h3>Liability:</h3>
      <ol>
        <li>Participants acknowledge that the escape room experience may involve physical exertion, mental challenges, and potential risks. Participation is voluntary, and participants assume all risks associated with their involvement.</li>
        <li>Enigma Machine is not liable for any personal injury, loss, or damage to personal property that may occur during the escape room experience, except in cases of gross negligence or willful misconduct.</li>
      </ol>

      <h3>Privacy:</h3>
      <ol>
        <li>Enigma Machine respects your privacy and handles personal information in accordance with applicable privacy laws and our Privacy Policy.</li>
        <li>By participating in our escape room experience or using our website, you consent to the collection, use, and processing of your personal information as described in our Privacy Policy.</li>
      </ol>

      <h3>Modifications and Cancellations:</h3>
      <p>Enigma Machine reserves the right to modify, cancel, or reschedule bookings or events due to unforeseen circumstances. We will make reasonable efforts to notify affected participants in advance.</p>

      <h3>Governing Law and Jurisdiction:</h3>
      <p>These Terms shall be governed by and construed in accordance with the laws of Sweden. Any disputes arising under these Terms shall be subject to the exclusive jurisdiction of the courts in Sweden.</p>

      <h3>Severability:</h3>
      <p>If any provision of these Terms is found to be invalid or unenforceable, the remaining provisions shall continue to be valid and enforceable to the fullest extent permitted by law.</p>

      <h3>Contact Us:</h3>
      <p>If you have any questions or concerns regarding these Terms, please contact us using the information provided on our website.</p>

      <p>By participating in the escape room experience or using our website, you acknowledge that you have read, understood, and agreed to these Terms of Service.</p>
    `;

      modal.style.display = "block";
    }

    // Close the modal when the close button is clicked
    closeButton.onclick = function() {
      modal.style.display = "none";
    }

    // Close the modal when clicking outside the modal content
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</body>

</html>