{% extends "base.html" %}
{% block scripts %}
  <!-- Pass the active page variable to the base template -->
  {% with active_page='blog' %} 
    {{ block.super }}
  {% endwith %}
{% endblock %}
{% block content %}
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://res.cloudinary.com/dl02kivmy/image/upload/v1684932491/shutterstock_12530514342_gb5a4j.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <h2>Blog Posts</h2>
    </div>
  </div>
{% if blogpost_list%}
<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blogpost in blogpost_list %}
    <div class="col">
      <div class="card h-100">
        {% if "placeholder" in blogpost.blog_image.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="card-img-top img-fluid aspect-ratio-16x9" alt="Image">
        {% else %}
        <img src="{{ blogpost.blog_image.url }}" class="card-img-top img-fluid aspect-ratio-16x9" alt="Image">
        {% endif %}
        <div class="card-body">
          <a href="{% url 'detail_view' blogpost.slug %}">
            <h2 class="card-title">{{ blogpost.blog_title }}</h2>
            <p class="card-text">{{ blogpost.blog_blurb }}</p>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <h1>No blog posts are available</h1>
  {% endif %}
  {% endblock %}
