{% extends "base.html" %}
{% load res_tags %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
    <h2>Blog Posts</h2>
  </div>
</div>
<form method = POST action="{% url 'reservation_choice' %}">
  {% csrf_token %}
  <input type="date" name="new_date" min="{{today}}"><button type="submit">View Day</button>{{today}}{{new_date}}
</form>
{% if new_date %}
  {% with new_date as today %}
    {% for room in rooms %}
    <h1>{{room}}</h1>
      {% for time in times %}
        <h3>{{time}}</h3>
        {% with bookings=queryset|res_date:today|res_room:room|res_time:time%}
          {% if bookings %}
            <button type="submit" disabled>Unavailable</button>
          {% else %}
          <form method="POST" action="{% url 'reservation_choice' %}">
            {% csrf_token %}
            <input type="hidden" name="new_date" value="{{today}}">
            <input type="hidden" name="picked_date" value="{{today}}">
            <input type="hidden" name="time" value="{{time}}">
            <input type="hidden" name="room" value="{{room}}">
            <button type="submit" id="{{room}}-{{time}}-{{today}}">Available</button>
          </form>
          {% endif %}
        {% endwith%}
      {% endfor %}
    {% endfor %}
  {% endwith %}
  {% else %}
  {% for room in rooms %}
    <h1>{{room}}</h1>
      {% for time in times %}
        <h3>{{time}}</h3>
        {% with bookings=queryset|res_date:today|res_room:room|res_time:time%}
          {% if bookings %}
            <button type="submit" disabled>Unavailable</button>
          {% else %}
          <form method="POST" action="{% url 'reservation_choice' %}">
            {% csrf_token %}
            <input type="hidden" name="picked_date" value="{{today}}">
            <input type="hidden" name="time" value="{{time}}">
            <input type="hidden" name="room" value="{{room}}">
            <button type="submit" id="{{room}}-{{time}}-{{today}}">Available</button>
          </form>
          {% endif %}
        {% endwith%}
      {% endfor %}
    {% endfor %}
  {% endif %}

{% if cart %}
      <h2>Shopping Cart</h2>
      <h4>{{cart}}</h4>
      <ul>
          {% for item in cart %}
          <li>{{ item.key }}: {{ item.value }} ({{ item.specific_date }}) 
          <form method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" name="delete-item" value="{{ item.key }}|{{ item.value }}|{{ item.specific_date }}">Delete</button>
          </form>
          </li>        
          {% endfor %}
      </ul>
      <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" name="delete-all" value="true">Delete All Items</button>
      </form>
      <form form action="{% url 'booking_form'%}?cart={{ cart }}" method="post"> 
        {% csrf_token %}
        <input type="hidden" name="cart" value={{cart}}>
        <input type="hidden" name="user_id" value="{{user.id}}">
        <button type="submit">Continue to Booking</button> 
    </form>

  {% endif %}

  <script>
    var cartData = {{ cart|safe }};
    for (var i = 0; i < cartData.length; i++) {
      var item = cartData[i];
      var buttonId = item.key + "-" + item.value + "-" + item.specific_date;
      var button = document.getElementById(buttonId);
      
      if (button) {
        button.style.cursor = "not-allowed";
        button.style.backgroundColor = "rgba(100, 149, 237, 0.5)";
        button.textContent = "Already in Cart";
        button.addEventListener("click", function(event) {
          event.preventDefault();  // Prevent button click behavior
      });
      }
    }
  </script>

{% endblock %}