{% extends "base.html" %}
{% block scripts %}
  <!-- Pass the active page variable to the base template -->
  {% with active_page='reservation' %} 
    {{ block.super }}
  {% endwith %}
{% endblock %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
    <h2>Make a Booking</h2>
  </div>
</div>
<div class="row m-3 justify-content-center">
  <div class="col-9 d-flex justify-content-center">
    <div class="col-3 icon-text text-center m-3">
      <i class="bi bi-gear-wide fs-1"></i><br>
      <span>1. Choose Bookings</span>
    </div>
    <div class="col-3 icon-text text-center m-3">
      <i class="bi bi-gear-wide fs-1 step"></i><br>
      <span>2. Booking Info</span>
    </div>
    <div class="col-3 icon-text text-center m-3">
      <i class="bi bi-gear-wide fs-1"></i><br>
      <span>3. Confirmation</span>
    </div>
  </div>
  </div>
<div class="selected-games p-3 mt-3 d-flex justify-content-center">
  <form method="POST" form action="{% url 'posted' %}?data={{ data }}">
    {% csrf_token %}
      <input type="hidden" name="data" value="{{ data }}">
      {% for booking in data %}
        <div class="selected-games-list m-3">
          <div>
            <strong>Game #{{forloop.counter}}</strong>
          </div>
          <br>
            <div>
              {{ booking.key }}
              <input type="hidden" name="room" value="{{ booking.key }}">
            </div>
            <div>
              {{ booking.value }}
                <input type="hidden" name="time" value="{{ booking.value }}">
            </div>
            <div>
              {{ booking.specific_date }}
              <input type="hidden" name="date" value="{{ booking.specific_date }}">
            </div>
            <div>
              <select name="number" id="numberDropdown{{ forloop.counter }}" class="form-select-md">
                <option selected>Select</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
              <input type="hidden" id="room_price{{ forloop.counter }}" class="room_price form-control-md w-100" placeholder="Price" readonly>
          </div>
          <hr>
      {% endfor %}
      <div class=" row-3 d-flex justify-content-center m-3">
        <div><strong>Total Price*: </strong><input type="number" name="price" id="price" min="300" class="form-control-md boarder-0" readonly></div>
    </div>
    <div class="info-text text-center">*This is due when you arrive to play.</div>
</div>
<div class="row user-info d-flex justify-content-center mt-5 p-3">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <div class="col d-flex text-center"><h5>Full Name: {{ form.customer_name }}</h5></div>
    <div class="col d-flex text-center"><h5>Email: {{ form.customer_email }}</h5></div>
    <div class="col d-flex justify-content-center text-center">{{ form.comment }}</div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col d-flex justify-content-center m-5">
    <button type="submit" class="btn btn-primary">Complete Booking</button>
  </div>
  </form>
</div>

<script>
    // Get the dropdown element
    const numberDropdownInput = document.querySelectorAll('select[name="number"]');
    const priceRoomTotals = document.querySelectorAll('.room_price');
    const grandTotalPrice = document.querySelector('input[name="price"]');
    

    numberDropdownInput.forEach(function(input, index) {
        let numberDropdownId = "numberDropdown" + (index + 1);
        let priceInputId = "room_price" + (index + 1);
        let numberDropdown = document.getElementById(numberDropdownId);
        let priceInput = document.getElementById(priceInputId);

        numberDropdown.addEventListener("change", function() {
            // Get the selected value from the dropdown
            const selectedOption = parseInt(numberDropdown.value);
            
            // Perform calculation based on the selected value
            const result = selectedOption * 300; // Example calculation, multiply selected value by 300
            
            // Update the price input value with the calculated result
            priceInput.value =  result;

            updateGrandTotalPrice();
            
        });
    });
    function updateGrandTotalPrice() {
        // Initialize the total price
        let totalPrice = 0;

        // Iterate through each input and add its value to the total price
        priceRoomTotals.forEach(function(priceInput) {
            const price = parseInt(priceInput.value);
            if (!isNaN(price)) {
            totalPrice += price;
            }
        });

        // Update the grand total price input value
        grandTotalPrice.value = totalPrice;
    }

    updateGrandTotalPrice();


    
</script>




{% endblock %}