{% extends "base.html" %}
{% block content %}
{% for room in rooms %}
<h1>{{room}}</h1>
{% for reservation in reservation_list %}
{% if reservation.room_choice == room and reservation.date|date:"Y-m-d" == today %}
{% for time in times %}
<h3>{{time}}</h3>
{% if reservation.time_slot == time %}
  <button>Unavailable</button>
{%else%}
  <form method="POST" action="{% url 'reservation_choice' %}">
  {% csrf_token %}
    <input type="hidden" name="date" value="{{today}}">
    <input type="hidden" name="room" value="{{room}}">
    <input type="hidden" name="time" value="{{time}}">
    <button type="submit">Available</button>
  </form>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}



{% endblock %}