{% extends "base.html" %}
{% load res_tags %}
{% block content %}
<form method = POST action="{% url 'reservation_choice' %}">
  {% csrf_token %}
  <input type="date" name="new_date"><button type="submit">View Day</button>{{today}}
</form>
{% for room in rooms %}
<h1>{{room}}</h1>
  {% for time in times %}
    {% with bookings=reservation_list|res_date:today|res_room:room|res_time:time%}
      {% if bookings %}
        <button type="submit" disabled>Unavailable</button>
      {% else %}
      <form method="POST" action="{% url 'reservation_choice' %}">
        {% csrf_token %}
        <input type="hidden" name="picked_date" value="{{today}}">
        <input type="hidden" name="time" value="{{time}}">
        <input type="hidden" name="room" value="{{room}}">
        <button type="submit">Available</button>
      </form>
      {% endif %}
    {% endwith%}
  {% endfor %}
{% endfor %}


{% endblock %}


