{% extends "base.html" %}
{% load res_tags %}
{% block content %}
<h1>Booking to Change:</h1>
{% for booking in booked_res %}
<h2>Date: {{booking.date}}</h2><h2>Time: {{booking.time_slot}}</h2><h2>Room: {{booking.room_choice}}</h2>
<form method = POST action="{% url 'account_booking_edit' %}">
    {% csrf_token %}
    <input type="date" name="new_date" min="{{today}}"><button type="submit">View Day</button>{{today}}{{new_date}}
    <input type="hidden" name="res_id" value="{{booking.id}}">
  </form>
{% if new_date %}
  {% with new_date as today %}
    {% for room in rooms %}
    <h1>{{room}}</h1>
      {% for time in times %}
        {% with bookings=reservations|res_date:today|res_room:room|res_time:time%}
          {% if bookings %}
          {% else %}
          <form method="POST" action="{% url 'account_booking_edit_post' %}">
            {% csrf_token %}
            <input type="hidden" name="new_date" value="{{today}}">
            <input type="hidden" name="picked_date" value="{{today}}">
            <input type="hidden" name="time" value="{{time}}">
            <input type="hidden" name="room" value="{{room}}">
            <input type="hidden" name="res_id" value="{{booking.id}}">
            <button type="submit" id="{{room}}-{{time}}-{{today}}">Available</button>
          </form>
          {% endif %}
        {% endwith%}
      {% endfor %}
    {% endfor %}
  {% endwith %}
  {% else %}
  {% for room in rooms %}
    <h1>{{room}}</h1>
      {% for time in times %}
        {% with bookings=reservations|res_date:booking.date|res_room:room|res_time:time%}
          {% if bookings %}
          {% else %}
          <form method="POST" action="{% url 'account_booking_edit_post' %}">
            {% csrf_token %}
            <input type="hidden" name="picked_date" value="{{today}}">
            <input type="hidden" name="time" value="{{time}}">
            <input type="hidden" name="room" value="{{room}}">
            <button type="submit" id="{{room}}-{{time}}-{{today}}">Available</button>
          </form>
          {% endif %}
        {% endwith%}
      {% endfor %}
    {% endfor %}
  {% endif %}
  {% endfor %}

    <a href="{% url 'account_overview' %}">Return to Account</a>
{% endblock %}