{% extends "base.html" %}
{% load res_tags %}
{% block content %}
<h1>Booking to Change:</h1>
{% for booking in booked_res %}
<h2>Date: {{booking.date}}</h2><h2>Time: {{booking.time_slot}}</h2><h2>Room: {{booking.room_choice}}</h2>
{% for room in rooms %}
<h1>{{room}}</h1>
  {% for time in times %}
    {% with bookings=reservations|res_date:booking.date|res_room:room|res_time:time%}
      {% if bookings %}
      {% else %}
      <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="picked_date" value="{{today}}">
        <input type="hidden" name="time" value="{{time}}">
        <input type="hidden" name="room" value="{{room}}">
        <button type="submit">Available</button>
      </form>
      {% endif %}
    {% endwith%}
  {% endfor %}
{% endfor %}
{% endfor %}

    <a href="{% url 'account_overview' %}">Return to Account</a>
{% endblock %}