{% extends "base.html" %}
{% load res_tags %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
    <h2>Blog Posts</h2>
  </div>
</div>
<h1 class="text-center mb-3">Booking to Change: {{booking.id}}</h1>
{% for booking in booked_res %}
<div class=" row justify-content-center correct p-2">
  <h3 class="d-flex justify-content-center">Date: {{booking.date}}</h3><h3 class="d-flex justify-content-center">Time: {{booking.time_slot}}</h3><h3 class="d-flex justify-content-center">Room: {{booking.room_choice}}</h3>
</div>
<div class="row m-5">
  <div>
    <h5 class="text-center">Do you want to delete the booking?</h5>
  </div>
  <div class="col d-flex justify-content-center align-items-center">
    <form id="deleteBookingForm" method="post" action="{% url 'delete_booking' %}">
      {% csrf_token %}
      <button id="deleteButton" type="button" class="btn btn-danger">Delete Booking</button>
      <input type="hidden" name="res_id" value="{{ booking.id }}">
    </form>
  </div>
</div>
<hr class="line">
  <form method="POST" action="{% url 'account_booking_edit' %}">
    {% csrf_token %}
    <div class="container">
      <div class="row m-3 justify-content-center">
        <div class="col-md-6 col-lg-6">
          <h3 class="text-center mb-3">Choose new reservation</h3>
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <input type="hidden" name="res_id" value="{{booking.id}}">
              <input type="date" class="form-control" id="newDate" name="new_date" min="{{ today }}">
            </div>
            <div class="col m-sm-2 d-flex justify-content-center align-items-center">
              <button type="submit" class="btn btn-primary">View Day</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% if new_date %}
  {% with new_date as today %}
  <div class="row m-md-5 m-sm-3 justify-content-md-center">
    <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
      <h5>Availability On: <span>{{today}}</span></h5>
    </div>
  </div>
    <div class="container calendar mb-3">
    <div class="row">
      {% for room in rooms %}
      <div class="col d-flex justify-content-center align-items-center"><h4>{{room}}</h4></div>
      {% endfor %}
    </div>
    {% for time in times %}
      <div class="row res">
            {% for room in rooms %}
            <div class="col d-flex justify-content-center align-items-center booking p-2">
              {% with bookings=reservations|res_date:today|res_room:room|res_time:time %}
                {% if bookings %}
                <button type="submit" class="btn btn-secondary nonslot" disabled><span>Unavailable</span></button>
                {% else %}
                <form method="POST" action="{% url 'account_booking_edit_confirm' %}">
                {% csrf_token %}
                {% if new_date %}
                  <input type="hidden" name="new_date" value="{{ today }}">
                {% endif %}
                    <input type="hidden" name="res_id" value="{{booking.id}}">
                    <input type="hidden" name="new_date" value="{{today}}">
                    <input type="hidden" name="picked_date" value="{{ today }}">
                    <input type="hidden" name="time" value="{{ time }}">
                    <input type="hidden" name="room" value="{{ room }}">
                    <button type="submit" class="btn btn-success" id="{{ room }}-{{ time }}-{{ today }}">{{time}}</button>
                </form>
                {% endif %}
              {% endwith %}
            </div>
            {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endwith %}
{% else %}
<div class="row m-md-5 m-sm-3 justify-content-md-center">
  <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
    <h3>Earliest Availability: <span>{{today}}</span></h3>
  </div>
</div>
<div class="container calendar mb-3">
  <div class="row">
    {% for room in rooms %}
    <div class="col d-flex justify-content-center align-items-center"><h4>{{room}}</h4></div>
    {% endfor %}
  </div>
  {% for time in times %}
    <div class="row res">
          {% for room in rooms %}
          <div class="col d-flex justify-content-center align-items-center booking p-2">
            {% with bookings=reservations|res_date:today|res_room:room|res_time:time %}
              {% if bookings %}
              <button type="submit" class="btn btn-secondary nonslot" disabled><span>Unavailable</span></button>
              {% else %}
              <form method="POST" action="{% url 'account_booking_edit_confirm' %}">
              {% csrf_token %}
                  <input type="hidden" name="picked_date" value="{{ today }}">
                  <input type="hidden" name="time" value="{{ time }}">
                  <input type="hidden" name="room" value="{{ room }}">
                  <button type="submit" class="btn btn-success" id="{{ room }}-{{ time }}-{{ today }}">{{time}}</button>
              </form>
              {% endif %}
            {% endwith %}
          </div>
          {% endfor %}
    </div>
  {% endfor %}
</div>
{% endif %}
{% endfor %}

<a href="{% url 'account_overview' %}">Return to Account</a>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Confirm Booking Deletion</h2>
    <p>Are you sure you want to delete your booking?</p>
    <button id="confirmButton" class="btn btn-danger">Confirm</button>
    <button id="cancelButton" class="btn btn-secondary">Cancel</button>
  </div>
</div>



<script>
      // Get the form element
      var form = document.getElementById('deleteBookingForm');
    
      // Get the delete button element
      var deleteButton = document.getElementById('deleteButton');
    
      // Get the modal element
      var modal = document.getElementById('myModal');
    
      // Get the close button element
      var closeButton = document.getElementsByClassName('close')[0];
    
      // Get the confirm and cancel buttons
      var confirmButton = document.getElementById('confirmButton');
      var cancelButton = document.getElementById('cancelButton');
    
      // When the delete button is clicked, display the modal
      deleteButton.addEventListener('click', function() {
        modal.style.display = 'block';
      });
    
      // When the close button is clicked or outside the modal, close the modal
      closeButton.addEventListener('click', function() {
        modal.style.display = 'none';
      });
    
      window.addEventListener('click', function(event) {
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      });
    
      // When the confirm button is clicked, submit the form
      confirmButton.addEventListener('click', function() {
        form.submit();
      });
    
      // When the cancel button is clicked, close the modal
      cancelButton.addEventListener('click', function() {
        modal.style.display = 'none';
      });
</script>
{% endblock %}