{% extends "base.html" %}
{% load res_tags %}
{% block scripts %}
  <!-- Pass the active page variable to the base template -->
  {% with active_page='reservation' %} 
    {{ block.super }}
  {% endwith %}
{% endblock %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
    <h2>Reservation Availability</h2>
  </div>
</div>
{% if user.is_authenticated %}
<form method="POST" action="{% url 'reservation_choice' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      <div class="mb-3">
        <label for="newDate" class="form-label">Choose a Date</label>
        <input type="date" class="form-control" id="newDate" name="new_date" min="{{ today }}">
      </div>
    </div>
    <div class="col-md-9">
      <button type="submit" class="btn btn-primary">View Day</button>
      <span>{{ today }}</span>
    </div>
  </div>
</form>

<div class="row mt-4">
  {% for room in rooms %}
  <div class="col-md-3">
    <h1>{{ room }}</h1>
    {% for time in times %}
    {% with bookings=reservations|res_date:today|res_room:room|res_time:time %}
    <div class="mb-2">
      {% if bookings %}
      <button type="submit" class="btn btn-secondary" disabled>Unavailable</button>
      {% else %}
      <form method="POST" action="{% url 'reservation_choice' %}">
        {% csrf_token %}
        <input type="hidden" name="picked_date" value="{{ today }}">
        <input type="hidden" name="time" value="{{ time }}">
        <input type="hidden" name="room" value="{{ room }}">
        <button type="submit" class="btn btn-success">Available</button>
      </form>
      {% endif %}
    </div>
    {% endwith %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% else %}
<h1>To view available events, please <a href="{% url 'account_login' %}">Login</a></h1>
{% endif %}
<div class="container calendar">
  <div class="row">
    <div class="col-1 d-flex justify-content-center align-items-center">Time</div>
    {% for room in rooms %}
    <div class="col d-flex justify-content-center align-items-center">{{room}}</div>
    {% endfor %}
  </div>
  {% for time in times %}
    <div class="row res">
      <div class="col-1 d-flex justify-content-center align-items-center time">{{time}}</div>
          {% for room in rooms %}
          <div class="col d-flex justify-content-center align-items-center ">
            {% with bookings=reservations|res_date:today|res_room:room|res_time:time %}
              {% if bookings %}
              <button type="submit" class="btn btn-secondary" disabled>Unavailable</button>
              {% else %}
              <form method="POST" action="{% url 'reservation_choice' %}">
                  <input type="hidden" name="picked_date" value="{{ today }}">
                  <input type="hidden" name="time" value="{{ time }}">
                  <input type="hidden" name="room" value="{{ room }}">
                  <button type="submit" class="btn btn-success">Available</button>
              </form>
              {% endif %}
            {% endwith %}
          </div>
          {% endfor %}
    </div>
  {% endfor %}
</div>





{% endblock %}
<div class="row mt-4">
  <div class="col-md-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Time</th>
          {% for room in rooms %}
          <th scope="col">{{room}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for time in times %}
        <tr>
          <th scope="row">{{time}}</th>
          {% for room in rooms %}
            {% with bookings=reservations|res_date:today|res_room:room|res_time:time %}
              {% if bookings %}
              <td> 
                <button type="submit" class="btn btn-secondary" disabled>Unavailable</button>
              </td>
              {% else %}
              <form method="POST" action="{% url 'reservation_choice' %}">
              <td>
                <input type="hidden" name="picked_date" value="{{ today }}">
                <input type="hidden" name="time" value="{{ time }}">
                <input type="hidden" name="room" value="{{ room }}">
                <button type="submit" class="btn btn-success">Available</button>
              </td>  
              </form>
              {% endif %}
            {% endwith %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-center w-15">Time</th>
        {% for room in rooms %}
        <th scope="col" class="text-center w-25">{{room}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for time in times %}
      <tr>
        <div>
          <th scope="row" class="text-center w-15">{{time}}</th>
        </div>
        {% for room in rooms %}
          {% with bookings=reservations|res_date:today|res_room:room|res_time:time %}
            {% if bookings %}
            <td class="text-center"> 
              <button type="submit" class="btn btn-secondary" disabled>Unavailable</button>
            </td>
            {% else %}
            <form method="POST" action="{% url 'reservation_choice' %}">
            {% csrf_token %}
            <td class="text-center">
              <input type="hidden" name="picked_date" value="{{ today }}">
              <input type="hidden" name="time" value="{{ time }}">
              <input type="hidden" name="room" value="{{ room }}">
              <button type="submit" class="btn btn-success">Available</button>
            </td>  
            </form>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

