{% extends "base.html" %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <h2>Our Rooms</h2>
    </div>
  </div>
<section id="constructions" class="constructions">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Rooms</h2>
      <p>These are our Rooms</p>
    </div>
    {% for room in room_list %}
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg" style="background-image: url({{room.blog_image.url}});"></div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">{{ room.room_name }}</h4>
                <p>{{ room.room_description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Card Item -->
    </div>
    {% endfor %}
  </div>
</section><!-- End Constructions Section -->

{% endblock %}

