{% extends "base.html" %}
{% block scripts %}
<!-- Pass the active page variable to the base template -->
{% with active_page='contact' %}
{{ block.super }}
{% endwith %}
{% endblock %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center"
  style="background-image: url('https://res.cloudinary.com/dl02kivmy/image/upload/v1684929698/pexels-andrea-piacquadio-3771110_pow9ud.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
    <h2>Contact Us</h2>
  </div>
</div>
{% if messages %}
<div class="row">
  {% for message in messages %}
  <div class="col d-flex justify-content-center mt-4 correct">
    <h4>{{ message }}</h4>
  </div>
  {% endfor %}
</div>
{% endif %}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="info-item  d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-map"></i>
          <h3>Our Address</h3>
          <p>Hantverkargatan 1, 111 52 Stockholm</p>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-3 col-md-6">
        <div class="info-item d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-envelope"></i>
          <h3>Email Us</h3>
          <p>info@enigmamachine.com</p>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-3 col-md-6">
        <div class="info-item  d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-telephone"></i>
          <h3>Call Us</h3>
          <p>+46 12 345 6789</p>
        </div>
      </div><!-- End Info Item -->

    </div>

    <div class="row gy-4 mt-1">

      <div class="col-lg-6 ">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.329616587622!2d18.052156916072228!3d59.32745058165819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77df9092cde9%3A0xaeafc90d911394c0!2sStockholm%20City%20Hall!5e0!3m2!1sen!2sse!4v1684927132184!5m2!1sen!2sse"
           style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
      </div><!-- End Google Maps -->

      <div class="col-lg-6">
        <form action="{% url 'contact_us_post' %}" method="post" class="php-email-form">
          {% csrf_token %}
          <div class="row gy-4">
            <div class="col-lg-6 form-group">
              <label for="name" class="hidden">Name</label>
              {{ form.inquiry_name }}
            </div>
            <div class="col-lg-6 form-group">
              <label for="email" class="hidden">Email</label>
              {{ form.inquiry_email }}
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="hidden">Phone</label>
            {{ form.phone_number }}
          </div>
          <div class="form-group">
            <label for="message" class="hidden">Message</label>
            {{ form.inquiry_message }}
          </div>
          <div class="text-center"><button class="text-center" type="submit">Contact Us!</button></div>
        </form>
      </div><!-- End Contact Form -->

    </div>

  </div>
</section><!-- End Contact Section -->

{% endblock %}